<a href="https://colab.research.google.com/github/agarwal-peeush/MachineLearning/blob/master/Python/Learn/3_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas library

In [0]:
import pandas as pd

## Series

### Creating Pandas series using `pd.Series`

In [0]:
s = pd.Series([2,4,5,6,9])
print(s)
print(type(s))

0    2
1    4
2    5
3    6
4    9
dtype: int64
<class 'pandas.core.series.Series'>

In [0]:
char_series = pd.Series(['a','b','af'])
print(char_series)

0     a
1     b
2    af
dtype: object

In [0]:
# creating a series of timestamps
date_series = pd.date_range(start = '11-09-2017', end='12-12-2017')
print(date_series)
print(type(date_series))

DatetimeIndex(['2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
               '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
               '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
               '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

### Indexing Series

In [0]:
# accessing 4th element
print(s[3])

# accessing elements starting index = 2 till end
print(s[2:])

# accessing 2nd and 4th element from Series
print(s[[1,3]])

6
2    5
3    6
4    9
dtype: int64
1    4
3    6
dtype: int64

### Apply function

In [0]:
s.apply(lambda x: x**2)

0     4
1    16
2    25
3    36
4    81
dtype: int64

In [0]:
# numpy array
import numpy as np

#np.arange(10).apply(lambda x: x**2) # Gives error
array_1 = np.arange(10)
fn = np.vectorize(lambda x: x**2)
print(fn(array_1))

[ 0  1  4  9 16 25 36 49 64 81]

## DataFrames

### Mounting Google drive locally

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### Creating dataframes from Dictionaries

In [0]:
df = pd.DataFrame({'name':['Vinay','Kushal','Aman','Saif'],
                  'age':[22,25,24,28],
                  'occupation':['engineer','doctor','data analyst','teacher']})
df

   age    name    occupation
0   22   Vinay      engineer
1   25  Kushal        doctor
2   24    Aman  data analyst
3   28    Saif       teacher

### Working with dataframe from csv file

In [0]:
# read csv file as dataframe
market_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Datasets/market_fact.csv')

In [0]:
# Looking at top entries of dataframes
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [0]:
# Looking at bottom entries of dataframes
market_df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [0]:
# Looking at the global info about dataframe
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [0]:
# describe dataframe : Gives summary of all numeric columns in the dataset

market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [0]:
# Column names of dataframe
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [0]:
# The number of rows and columns
market_df.shape

(8399, 10)

In [0]:
# You can extract the values of dataframe as a numpy array using df.values
market_df.values

array([['Ord_5446', 'Prod_16', 'SHP_7609', ..., -30.51, 3.6, 0.56],
       ['Ord_5406', 'Prod_13', 'SHP_7549', ..., 4.56, 0.93, 0.54],
       ['Ord_5446', 'Prod_4', 'SHP_7610', ..., 1148.9, 2.5, 0.59],
       ...,
       ['Ord_5388', 'Prod_6', 'SHP_7524', ..., -70.85, 5.35, 0.4],
       ['Ord_5348', 'Prod_15', 'SHP_7469', ..., 565.34, 30.0, 0.62],
       ['Ord_5459', 'Prod_6', 'SHP_7628', ..., 131.39, 4.86, 0.38]],
      dtype=object)

In [0]:
# setting index to "Ord_id"
df2 = market_df.set_index('Ord_id', inplace=False)
df2.head()
#market_df.head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [0]:
# Sort dataframes by index
market_df.sort_index(ascending = False)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_999,Prod_15,SHP_1383,Cust_361,5661.0800,0.00,33,1055.47,30.00,0.62
Ord_998,Prod_8,SHP_1380,Cust_372,750.6600,0.00,33,120.05,4.00,0.60
Ord_998,Prod_5,SHP_1382,Cust_372,2149.3700,0.03,42,217.87,19.99,0.55
Ord_998,Prod_8,SHP_1381,Cust_372,254.3200,0.01,8,-117.39,6.50,0.79
Ord_997,Prod_14,SHP_1379,Cust_365,28761.5200,0.04,8,285.11,24.49,0.37
Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
Ord_995,Prod_4,SHP_1376,Cust_370,7965.9025,0.01,46,2311.96,8.99,0.60
Ord_994,Prod_1,SHP_1375,Cust_369,11103.7500,0.10,32,-522.59,99.00,0.65
Ord_993,Prod_1,SHP_1374,Cust_368,2645.8000,0.00,31,-684.78,35.00,0.83
Ord_993,Prod_5,SHP_1373,Cust_368,1140.2600,0.04,39,387.20,8.55,0.42
Ord_992,Prod_15,SHP_1370,Cust_368,5041.4600,0.06,43,-2136.66,70.20,0.74
Ord_992,Prod_11,SHP_1372,Cust_368,8817.7100,0.09,27,-2946.05,60.00,NaN
Ord_992,Prod_6,SHP_1371,Cust_368,282.9800,0.06,45,-237.47,8.88,0.37
Ord_991,Prod_4,SHP_1369,Cust_367,760.2485,0.04,16,29.80,3.30,0.59
Ord_990,Prod_11,SHP_1368,Cust_366,1042.0600,0.04,14,-931.25,89.30,0.69
Ord_990,Prod_6,SHP_1367,Cust_366,492.7100,0.02,24,67.01,8.68,0.37
Ord_99,Prod_8,SHP_136,Cust_72,311.4400,0.04,32,74.07,1.99,0.43
Ord_99,Prod_5,SHP_137,Cust_72,215.6500,0.01,17,77.38,2.85,0.55
Ord_989,Prod_3,SHP_1366,Cust_360,64.1300,0.10,10,-28.97,5.27,0.36
Ord_988,Prod_7,SHP_1364,Cust_360,90.9600,0.02,48,-30.11,1.56,0.49
Ord_988,Prod_5,SHP_1364,Cust_360,632.5500,0.05,27,165.35,8.99,0.44
Ord_988,Prod_5,SHP_1365,Cust_360,1997.1300,0.05,32,720.45,14.48,0.46
Ord_987,Prod_6,SHP_1362,Cust_365,905.3200,0.02,24,389.07,5.09,0.38
Ord_987,Prod_4,SHP_1363,Cust_365,1702.4990,0.08,16,162.11,5.26,0.55
Ord_986,Prod_3,SHP_1360,Cust_363,77.5700,0.00,19,-67.49,5.47,0.37
Ord_985,Prod_4,SHP_1359,Cust_362,1155.5835,0.04,24,-127.00,5.00,0.80
...,...,...,...,...,...,...,...,...,...
Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69
Ord_1015,Prod_9,SHP_1405,Cust_370,124.0600,0.09,17,15.74,2.50,0.38
Ord_1014,Prod_5,SHP_1404,Cust_368,131.0900,0.01,10,10.94,2.85,0.55
Ord_1014,Prod_6,SHP_1404,Cust_368,1817.9000,0.06,33,700.31,10.75,0.36
Ord_1013,Prod_4,SHP_1403,Cust_382,1064.7865,0.10,12,-181.01,2.50,0.58
Ord_1012,Prod_3,SHP_1402,Cust_382,104.5100,0.04,13,-9.28,4.71,0.35
Ord_1011,Prod_3,SHP_1400,Cust_381,3465.9700,0.08,4,194.32,19.99,0.38
Ord_1011,Prod_8,SHP_1401,Cust_381,1307.8800,0.06,13,206.86,7.18,0.46
Ord_1010,Prod_11,SHP_1399,Cust_366,4051.8000,0.10,35,-684.07,51.94,0.63
Ord_1010,Prod_5,SHP_1398,Cust_366,195.2300,0.08,35,-72.46,5.57,0.41
Ord_101,Prod_1,SHP_139,Cust_73,300.2000,0.00,8,6.41,8.22,0.57
Ord_101,Prod_4,SHP_139,Cust_73,1364.8025,0.07,29,-183.68,5.00,0.83
Ord_1009,Prod_17,SHP_1396,Cust_366,2219.7900,0.10,30,-9.45,33.60,0.37
Ord_1009,Prod_6,SHP_1397,Cust_366,237.3600,0.07,25,-117.86,9.86,0.40
Ord_1008,Prod_5,SHP_1395,Cust_380,689.6700,0.07,38,51.47,8.99,0.47
Ord_1007,Prod_4,SHP_1394,Cust_379,2766.8180,0.03,47,846.95,5.92,0.55
Ord_1006,Prod_2,SHP_1393,Cust_378,1758.4100,0.06,18,238.52,15.66,0.57
Ord_1005,Prod_13,SHP_1392,Cust_377,35.4800,0.09,14,-9.19,1.30,0.59
Ord_1005,Prod_16,SHP_1392,Cust_377,15.0000,0.05,1,-11.02,8.37,0.58
Ord_1004,Prod_5,SHP_1390,Cust_365,199.5200,0.08,28,13.44,4.00,0.42
Ord_1004,Prod_3,SHP_1389,Cust_365,139.5400,0.01,26,-54.08,4.95,0.37
Ord_1004,Prod_7,SHP_1391,Cust_365,85.6600,0.04,39,6.67,0.78,0.52
Ord_1003,Prod_9,SHP_1387,Cust_376,49.0400,0.02,8,9.29,1.39,0.38
Ord_1003,Prod_11,SHP_1388,Cust_376,2320.3500,0.00,6,-237.62,84.84,0.66
Ord_1002,Prod_15,SHP_1386,Cust_375,1756.4600,0.01,15,-101.19,30.00,0.69
Ord_1001,Prod_5,SHP_1385,Cust_374,1981.2600,0.07,49,100.80,8.66,0.76
Ord_1000,Prod_6,SHP_1384,Cust_373,334.7100,0.01,25,31.74,6.47,0.38
Ord_100,Prod_8,SHP_138,Cust_58,121.1200,0.10,3,-118.82,1.99,0.44
Ord_10,Prod_3,SHP_13,Cust_10,80.6100,0.02,15,-4.72,2.99,0.37
Ord_1,Prod_1,SHP_1,Cust_1,261.5400,0.04,6,-213.25,35.00,0.80

In [0]:
# Sort data frames by values
market_df.sort_values(by='Sales').head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_704,Prod_7,SHP_964,Cust_242,2.24,0.01,1,-1.97,0.70,0.37
Ord_149,Prod_3,SHP_7028,Cust_1712,3.20,0.09,1,-3.16,1.49,0.37
Ord_4270,Prod_7,SHP_5959,Cust_1450,3.23,0.06,2,-2.73,0.70,0.81
Ord_4755,Prod_13,SHP_6628,Cust_1579,3.41,0.06,1,-1.78,0.70,0.56
Ord_2252,Prod_3,SHP_3064,Cust_881,3.42,0.05,1,-2.91,1.49,0.37

In [0]:
# Sort in decreasing order of shipping cost
market_df.sort_values(by='Shipping_Cost', ascending=False).head()

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_1751,Prod_15,SHP_2426,Cust_597,14740.510,0.00,46,3407.73,164.73,0.56
Ord_839,Prod_11,SHP_1361,Cust_364,12689.870,0.04,44,-169.23,154.12,0.76
Ord_1741,Prod_11,SHP_2411,Cust_595,15168.820,0.02,26,-1096.78,147.12,0.80
Ord_417,Prod_11,SHP_561,Cust_156,20333.816,0.02,45,-1430.45,147.12,0.80
Ord_1581,Prod_15,SHP_2184,Cust_519,2573.920,0.07,17,117.23,143.71,0.55

In [0]:
# Sort by more than 2 columns

# Sort in ascending order of Sales for each Product
market_df.sort_values(by=['Prod_id','Sales'],ascending=False)

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_2197,Prod_9,SHP_2994,Cust_827,7522.80,0.04,48,3187.37,19.99,0.39
Ord_4356,Prod_9,SHP_6074,Cust_1481,6831.72,0.01,41,3081.02,19.99,0.39
Ord_262,Prod_9,SHP_358,Cust_66,6553.45,0.03,39,2969.81,19.99,0.39
Ord_4059,Prod_9,SHP_5660,Cust_1378,5587.20,0.05,36,2254.16,19.99,0.39
Ord_2973,Prod_9,SHP_6073,Cust_1480,5410.95,0.09,36,2077.91,19.99,0.39
Ord_950,Prod_9,SHP_1315,Cust_334,4906.85,0.09,32,1907.94,19.99,0.39
Ord_5112,Prod_9,SHP_7141,Cust_1729,4273.95,0.05,49,1340.07,19.99,0.40
Ord_612,Prod_9,SHP_836,Cust_687,3872.38,0.10,50,1110.35,19.99,0.38
Ord_3443,Prod_9,SHP_4773,Cust_1246,3849.17,0.06,46,1982.78,5.01,0.38
Ord_3650,Prod_9,SHP_6795,Cust_1683,3353.54,0.07,22,1189.96,19.99,0.39
Ord_4590,Prod_9,SHP_6385,Cust_1465,3212.97,0.03,37,1125.42,19.99,0.38
Ord_2774,Prod_9,SHP_3809,Cust_1015,3191.24,0.00,38,1620.23,5.01,0.38
Ord_793,Prod_9,SHP_1089,Cust_245,2833.19,0.06,34,1409.87,5.01,0.38
Ord_3071,Prod_9,SHP_4265,Cust_1141,2728.42,0.06,45,664.15,19.99,0.38
Ord_1290,Prod_9,SHP_1780,Cust_482,2609.53,0.00,27,911.66,19.99,0.40
Ord_555,Prod_9,SHP_754,Cust_202,2568.71,0.10,43,590.77,19.99,0.38
Ord_2853,Prod_9,SHP_3927,Cust_1056,2366.18,0.10,16,703.80,19.99,0.39
Ord_4370,Prod_9,SHP_6092,Cust_1492,2325.42,0.02,25,739.91,19.99,0.40
Ord_3239,Prod_9,SHP_4491,Cust_1205,2300.45,0.02,36,624.64,19.99,0.38
Ord_2968,Prod_9,SHP_4092,Cust_1066,2160.83,0.08,36,485.02,19.99,0.38
Ord_4989,Prod_9,SHP_6965,Cust_1700,2048.78,0.05,24,994.68,5.01,0.38
Ord_4663,Prod_9,SHP_6498,Cust_1612,2026.42,0.03,50,655.36,9.83,0.40
Ord_1152,Prod_9,SHP_1586,Cust_443,1554.53,0.00,16,474.66,19.99,0.40
Ord_5370,Prod_9,SHP_7500,Cust_1809,1527.42,0.04,25,326.40,19.99,0.38
Ord_3917,Prod_9,SHP_5439,Cust_1337,1504.01,0.05,42,211.04,14.72,0.40
Ord_4595,Prod_9,SHP_6390,Cust_1523,1500.84,0.10,46,91.56,14.72,0.40
Ord_3389,Prod_9,SHP_4698,Cust_1236,1484.89,0.03,41,220.99,14.72,0.40
Ord_604,Prod_9,SHP_826,Cust_213,1406.64,0.02,50,424.36,8.23,0.38
Ord_2737,Prod_9,SHP_3755,Cust_994,1400.91,0.09,49,-163.53,19.51,0.36
Ord_2461,Prod_9,SHP_3373,Cust_941,1396.75,0.04,46,-75.70,19.51,0.36
...,...,...,...,...,...,...,...,...,...
Ord_1666,Prod_1,SHP_2303,Cust_490,101.52,0.02,6,-16.37,5.41,0.59
Ord_3693,Prod_1,SHP_5118,Cust_1287,96.03,0.10,6,-59.39,11.25,0.60
Ord_2133,Prod_1,SHP_2910,Cust_808,96.01,0.01,11,-43.24,6.50,0.59
Ord_3579,Prod_1,SHP_4956,Cust_1272,94.99,0.06,13,-106.29,9.69,0.83
Ord_1654,Prod_1,SHP_2284,Cust_491,90.58,0.06,7,-27.83,6.27,0.57
Ord_5479,Prod_1,SHP_7655,Cust_1805,88.94,0.05,5,-47.54,7.04,0.81
Ord_3506,Prod_1,SHP_4857,Cust_395,79.93,0.00,2,-52.73,19.99,0.67
Ord_1858,Prod_1,SHP_2820,Cust_720,73.86,0.08,7,-52.49,9.45,0.60
Ord_75,Prod_1,SHP_99,Cust_50,73.07,0.08,4,-41.01,11.25,0.60
Ord_5107,Prod_1,SHP_7132,Cust_1708,72.72,0.06,4,-36.61,10.68,0.58
Ord_2725,Prod_1,SHP_3736,Cust_997,70.02,0.00,4,-30.63,8.78,0.57
Ord_1933,Prod_1,SHP_2649,Cust_707,69.57,0.05,8,-36.06,6.50,0.59
Ord_4613,Prod_1,SHP_6420,Cust_1569,68.03,0.02,4,-29.42,4.53,0.81
Ord_3379,Prod_1,SHP_4685,Cust_1233,66.92,0.01,5,-23.29,6.13,0.57
Ord_542,Prod_1,SHP_735,Cust_188,63.84,0.02,3,-47.97,17.78,0.59
Ord_210,Prod_1,SHP_288,Cust_94,63.52,0.08,4,-8.47,4.81,0.58
Ord_4618,Prod_1,SHP_6432,Cust_1575,58.90,0.03,5,-36.90,9.45,0.60
Ord_212,Prod_1,SHP_291,Cust_88,58.33,0.02,3,-35.08,11.25,0.60
Ord_2410,Prod_1,SHP_3307,Cust_963,57.48,0.00,3,-28.09,8.34,0.59
Ord_4213,Prod_1,SHP_5875,Cust_1428,53.30,0.00,2,-46.20,11.52,0.83
Ord_4079,Prod_1,SHP_5686,Cust_1386,52.59,0.05,4,-30.39,8.60,0.57
Ord_362,Prod_1,SHP_481,Cust_144,47.01,0.09,1,-19.32,19.99,0.67
Ord_130,Prod_1,SHP_3971,Cust_1064,40.06,0.07,6,-24.44,4.69,0.68
Ord_1971,Prod_1,SHP_3185,Cust_919,32.60,0.03,2,-20.57,5.50,0.57
Ord_1830,Prod_1,SHP_2524,Cust_634,29.65,0.05,1,-16.54,7.69,0.57
Ord_3713,Prod_1,SHP_5145,Cust_1307,27.83,0.09,2,-22.14,9.45,0.60
Ord_2746,Prod_1,SHP_3767,Cust_1030,22.61,0.03,1,-8.40,7.51,0.57
Ord_439,Prod_1,SHP_587,Cust_136,18.73,0.05,1,-6.68,6.13,0.57
Ord_2314,Prod_1,SHP_3171,Cust_899,18.16,0.03,1,-7.25,6.13,0.57
Ord_286,Prod_1,SHP_387,Cust_90,18.15,0.04,1,-7.26,6.13,0.57

In [0]:
# Sort by more than 2 columns

# Sort in ascending order of Sales for each Product
market_df.sort_values(by=['Prod_id','Sales'],ascending=[False,True])

,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
Ord_id,,,,,,,,,
Ord_2604,Prod_9,SHP_3565,Cust_993,8.34,0.09,1,-3.44,1.39,0.36
Ord_4596,Prod_9,SHP_6392,Cust_1524,11.16,0.01,1,-7.25,5.30,0.35
Ord_5108,Prod_9,SHP_7133,Cust_1733,15.00,0.10,1,-13.74,5.76,0.35
Ord_2024,Prod_9,SHP_2768,Cust_706,29.06,0.10,2,-16.15,6.97,0.35
Ord_4645,Prod_9,SHP_6471,Cust_1596,29.19,0.03,1,-23.10,12.39,0.35
Ord_135,Prod_9,SHP_182,Cust_45,30.83,0.04,2,7.27,1.39,0.36
Ord_1571,Prod_9,SHP_2168,Cust_514,32.49,0.08,3,-5.05,1.39,0.35
Ord_2383,Prod_9,SHP_3271,Cust_955,34.66,0.06,7,-20.87,4.99,0.38
Ord_3814,Prod_9,SHP_5289,Cust_1335,35.58,0.04,7,-19.95,4.99,0.38
Ord_3428,Prod_9,SHP_4751,Cust_1222,35.68,0.01,3,-11.43,5.76,0.35
Ord_4823,Prod_9,SHP_6720,Cust_1665,39.49,0.10,3,-12.99,5.72,0.35
Ord_4263,Prod_9,SHP_5951,Cust_1451,40.79,0.02,3,-11.69,5.72,0.35
Ord_4179,Prod_9,SHP_5825,Cust_1421,44.56,0.05,8,4.81,1.39,0.38
Ord_1165,Prod_9,SHP_1607,Cust_444,45.64,0.08,2,-0.11,1.39,0.38
Ord_3392,Prod_9,SHP_4702,Cust_1175,47.12,0.09,4,10.80,1.39,0.38
Ord_1003,Prod_9,SHP_1387,Cust_376,49.04,0.02,8,9.29,1.39,0.38
Ord_481,Prod_9,SHP_647,Cust_176,50.35,0.05,13,-8.24,2.50,0.39
Ord_3270,Prod_9,SHP_4540,Cust_1220,51.66,0.06,7,7.40,1.39,0.36
Ord_2429,Prod_9,SHP_3335,Cust_965,53.66,0.09,5,5.69,1.39,0.35
Ord_5241,Prod_9,SHP_7320,Cust_1746,55.66,0.09,10,8.82,1.39,0.38
Ord_2772,Prod_9,SHP_3806,Cust_1006,56.90,0.03,7,12.64,1.39,0.36
Ord_4795,Prod_9,SHP_6684,Cust_1593,57.82,0.08,4,0.85,4.80,0.36
Ord_2705,Prod_9,SHP_3704,Cust_1010,60.19,0.01,7,6.44,2.50,0.38
Ord_2642,Prod_9,SHP_3614,Cust_1016,61.52,0.02,16,-8.89,2.50,0.39
Ord_2041,Prod_9,SHP_2791,Cust_768,64.09,0.02,4,3.72,1.39,0.38
Ord_4699,Prod_9,SHP_6555,Cust_1629,64.23,0.03,8,15.83,1.39,0.36
Ord_1162,Prod_9,SHP_1604,Cust_447,64.44,0.00,21,-89.02,6.35,0.36
Ord_4345,Prod_9,SHP_6060,Cust_1471,66.41,0.05,7,-32.35,8.29,0.38
Ord_1923,Prod_9,SHP_2635,Cust_666,67.47,0.03,23,-100.60,6.35,0.36
Ord_4242,Prod_9,SHP_5921,Cust_1439,68.46,0.02,11,-22.48,5.30,0.35
...,...,...,...,...,...,...,...,...,...
Ord_3915,Prod_1,SHP_5433,Cust_1352,7647.97,0.05,47,-1014.01,35.00,0.85
Ord_4739,Prod_1,SHP_6611,Cust_1612,7685.62,0.02,46,1952.15,19.99,0.59
Ord_2530,Prod_1,SHP_3463,Cust_798,7731.09,0.00,43,-222.17,35.00,0.85
Ord_587,Prod_1,SHP_798,Cust_203,7807.45,0.02,46,1660.15,19.99,0.66
Ord_4134,Prod_1,SHP_5756,Cust_1412,7890.89,0.01,47,-771.09,35.00,0.85
Ord_4096,Prod_1,SHP_5708,Cust_1388,7922.69,0.10,21,1558.79,19.99,0.58
Ord_4542,Prod_1,SHP_6323,Cust_1549,8048.45,0.04,20,1947.67,19.99,0.58
Ord_3021,Prod_1,SHP_4191,Cust_1389,8094.55,0.05,49,2008.71,19.99,0.59
Ord_2800,Prod_1,SHP_3854,Cust_1015,8127.32,0.01,42,1141.07,19.99,0.71
Ord_4394,Prod_1,SHP_6125,Cust_1465,8177.07,0.08,46,2385.30,19.99,0.55
Ord_1324,Prod_1,SHP_1823,Cust_503,8185.89,0.09,21,2137.28,11.37,0.57
Ord_4730,Prod_1,SHP_6598,Cust_1618,8230.77,0.05,50,1577.02,19.99,0.66
Ord_525,Prod_1,SHP_712,Cust_188,8289.51,0.01,50,3051.62,7.07,0.59
Ord_1205,Prod_1,SHP_1665,Cust_459,8295.29,0.08,48,2267.22,19.99,0.55
Ord_4833,Prod_1,SHP_6737,Cust_1668,9261.24,0.00,46,1646.43,19.99,0.71
Ord_2424,Prod_1,SHP_3326,Cust_919,9522.12,0.04,34,171.30,35.00,0.80
Ord_3265,Prod_1,SHP_4530,Cust_1190,10330.94,0.07,25,2914.56,19.99,0.58
Ord_212,Prod_1,SHP_292,Cust_88,10377.22,0.05,47,965.48,28.66,0.72
Ord_2419,Prod_1,SHP_3319,Cust_945,10532.94,0.06,37,406.37,35.00,0.80
Ord_994,Prod_1,SHP_1375,Cust_369,11103.75,0.10,32,-522.59,99.00,0.65
Ord_2837,Prod_1,SHP_3901,Cust_1046,12586.19,0.00,33,619.71,99.00,0.65
Ord_3683,Prod_1,SHP_5108,Cust_1295,12723.95,0.08,47,11.54,35.00,0.80
Ord_2293,Prod_1,SHP_3139,Cust_903,12741.81,0.09,35,95.06,99.00,0.65
Ord_4102,Prod_1,SHP_5715,Cust_1386,14753.08,0.01,38,1085.91,99.00,0.65
Ord_3766,Prod_1,SHP_5225,Cust_1320,15655.24,0.09,38,4818.29,19.99,0.58
Ord_5249,Prod_1,SHP_7330,Cust_1771,17129.97,0.07,43,5616.08,11.37,0.57
Ord_3581,Prod_1,SHP_4958,Cust_1264,17853.64,0.02,41,6227.33,19.99,0.58
Ord_2601,Prod_1,SHP_3561,Cust_1007,17874.26,0.00,41,6247.95,19.99,0.58
Ord_168,Prod_1,SHP_227,Cust_61,18235.47,0.03,48,1166.93,99.00,0.65
Ord_2673,Prod_1,SHP_3661,Cust_1027,21337.27,0.02,49,7606.00,19.99,0.58

### Indexing and Selection in dataframe

In [0]:
# Selecting the rows from indices 2 to 6
market_df[2:7]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [0]:
# Selecting alternate rows starting from index = 5
market_df[5::2].head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78

In [0]:
# Select columns - using df['column']

sales = market_df['Sales']
print(sales.head())
print(type(sales))

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64
<class 'pandas.core.series.Series'>

In [0]:
# Select columns - using df.column
sales = market_df.Sales
print(sales.head())
print(type(sales))

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64
<class 'pandas.core.series.Series'>

In [0]:
# Select multiple columns
market_df[['Cust_id','Sales','Profit']].head()

     Cust_id    Sales   Profit
0  Cust_1818   136.81   -30.51
1  Cust_1818    42.27     4.56
2  Cust_1818  4701.69  1148.90
3  Cust_1818  2337.89   729.34
4  Cust_1818  4233.15  1219.87

In [0]:
print(type(market_df[['Cust_id','Sales','Profit']]))

<class 'pandas.core.frame.DataFrame'>

In [0]:
# Similarly, using double square brackets, if we select one column, we'll get df and not Series
type(market_df[['Sales']])

market_df[['Sales']].head()

     Sales
0   136.81
1    42.27
2  4701.69
3  2337.89
4  4233.15

In [0]:
market_df[2] # gives error because pandas doesn't know if it is row index or column label or what not
# we use pd.DataFrame.iloc or pd.DataFrame.loc

In [0]:
# Selecting a single element
# Note that 2,4 corresponds to the third row and 5th column (Sales)
market_df.iloc[2,4]

4701.69

In [0]:
# Selecting a single row and all columns 
# Select 6th row, with label (and index) = 5
print(market_df.iloc[5])

# equivalent to 
print(market_df.iloc[5,:])

# equivalent to 
print(market_df.iloc[5,])

Ord_id                  Ord_5446
Prod_id                   Prod_6
Ship_id                 SHP_7608
Cust_id                Cust_1818
Sales                     164.02
Discount                    0.03
Order_Quantity                23
Profit                    -47.64
Shipping_Cost               6.15
Product_Base_Margin         0.37
Name: 5, dtype: object
Ord_id                  Ord_5446
Prod_id                   Prod_6
Ship_id                 SHP_7608
Cust_id                Cust_1818
Sales                     164.02
Discount                    0.03
Order_Quantity                23
Profit                    -47.64
Shipping_Cost               6.15
Product_Base_Margin         0.37
Name: 5, dtype: object
Ord_id                  Ord_5446
Prod_id                   Prod_6
Ship_id                 SHP_7608
Cust_id                Cust_1818
Sales                     164.02
Discount                    0.03
Order_Quantity                23
Profit                    -47.64
Shipping_Cost               6.15
Product_Base_Margin         0.37
Name: 5, dtype: object

In [0]:
# Selecting multiple rows using a list of indices
market_df.iloc[[5,7,8]]

# equivalent to market_df.iloc[[5,7,8],:]
# equivalent to market_df.iloc[[5,7,8],]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52

In [0]:
market_df.iloc[4:8]
# equivalent to market_df.iloc[4:8,:]
# equivalent to market_df.iloc[4:8,]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [0]:
# Selecting a single column
market_df.iloc[:,2].head()

0    SHP_7609
1    SHP_7549
2    SHP_7610
3    SHP_7625
4    SHP_7664
Name: Ship_id, dtype: object

In [0]:
market_df.iloc[2:5,3:8]

     Cust_id    Sales  Discount  Order_Quantity   Profit
2  Cust_1818  4701.69      0.00              26  1148.90
3  Cust_1818  2337.89      0.09              43   729.34
4  Cust_1818  4233.15      0.08              35  1219.87

In [0]:
# using booleans
# This selects the rows corresponding to True
market_df.iloc[[True, True, False, True]]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37

#### Label based indexing

In [0]:
print(market_df.loc[5]) # Row with label=5 and not index
print(market_df.loc[[3,7,8],'Sales']) # Rows with label=[3,7,8]

Ord_id                  Ord_5446
Prod_id                   Prod_6
Ship_id                 SHP_7608
Cust_id                Cust_1818
Sales                     164.02
Discount                    0.03
Order_Quantity                23
Profit                    -47.64
Shipping_Cost               6.15
Product_Base_Margin         0.37
Name: 5, dtype: object
3    2337.8900
7    3410.1575
8     162.0000
Name: Sales, dtype: float64

In [0]:
df2.loc['Ord_5406','Sales'] #'Ord_5406' => label or index name

42.27

In [0]:
df2.loc[['Ord_5406','Ord_5446','Ord_5485'],'Sales':'Profit']

            Sales  Discount  Order_Quantity   Profit
Ord_id
Ord_5406    42.27      0.01              13     4.56
Ord_5446   136.81      0.01              23   -30.51
Ord_5446  4701.69      0.00              26  1148.90
Ord_5446   164.02      0.03              23   -47.64
Ord_5485  4233.15      0.08              35  1219.87

In [0]:
# using booleans
market_df.loc[[True, True, False, True]]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37

### Slicing and dicing on DataFrame

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Datasets/market_fact.csv')
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [0]:
# Select all rows with Sales > 3000
df.Sales > 3000
df.loc[df.Sales > 3000].head()
# Equivalent to df.loc[df['Sales'] > 3000, :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78

In [0]:
# We combine multiple conditions using the & operator
df.loc[(df.Sales > 2000) & (df.Sales < 3000) & (df.Profit > 100), :].head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
81,Ord_5205,Prod_4,SHP_7274,Cust_1749,2546.5235,0.09,26,210.00,7.69,0.59
109,Ord_139,Prod_17,SHP_186,Cust_45,2671.2100,0.06,14,636.18,15.59,0.36
110,Ord_239,Prod_4,SHP_332,Cust_45,2157.3085,0.00,38,519.25,5.31,0.57
141,Ord_1673,Prod_17,SHP_2314,Cust_498,2027.5500,0.04,14,537.40,13.99,0.37

In [0]:
# The OR operator is '|'
df.loc[(df.Sales > 2000) | (df.Profit > 100), :].head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56

In [0]:
df.loc[(df.Sales > 2000) & (df.Sales < 3000) & (df.Profit > 100),['Cust_id','Sales','Profit']].head()

       Cust_id      Sales  Profit
3    Cust_1818  2337.8900  729.34
81   Cust_1749  2546.5235  210.00
109    Cust_45  2671.2100  636.18
110    Cust_45  2157.3085  519.25
141   Cust_498  2027.5500  537.40

In [0]:
# You may want to select rows whose column value is in an iterable

customers_in_bangalore = ['Cust_1798','Cust_1519','Cust_637','Cust_851']

# To get all the orders from these customers, use the isin() function
df.loc[df['Cust_id'].isin(customers_in_bangalore), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38